{% extends 'base.html' %}

{% block content %}
<h1>About Our Service</h1>
<div class="row">
    <div class="col-md-8">
        <p class="lead">
            Our bibliography database service provides comprehensive management of academic publications,
            citations, and bibliographic references.
        </p>
        <p>
            Features include:
        </p>
        <ul>
            <li>Publication management by issues and editions</li>
            <li>Thematic categorization</li>
            <li>Author tracking</li>
            <li>Citation management</li>
            <li>Full-text storage</li>
        </ul>
    </div>
</div>
{% endblock %}
